.DS_Store
.bloop
.bsp
.bsp/
.history
.metals
.vscode/
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/bin/
/out
conf/felix-cache
dist
felix-cache
js/node_modules
logs
project/target
shared/.js
shared/.jvm
target
tmp